@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  color: #2a2a26;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-descriptor {
  margin-left: 45px;
  color: #c9c9c9;
  margin-top: 36px;
}

@media screen and (min-width: 980px){
  #main {
    position: relative;
    margin-left: 215px;
    float: left;
  }
}

@media screen and (max-width: 981px){
  #main {
    margin: 250px auto 0 auto;
    width: 760px;
  }

  aside {
    display: none;
  }
}

