<div id="main-nav">

  <div class='logo'></div>

  <div class='dashed-divider'></div>

  <ul>
    <li>
      <%= link_to 'Home', '/index.html' %>
    </li>
    <li>
      <a href="/about.html">About</a>
    </li>
    <li>
      <a href="/contact.html">Contact</a>
    </li>
  </ul>

  <div class='dashed-divider'></div>

  <div class='networks'>
    <div class='network'>
      <%= image_tag "webicon-github.png" %>
    </div>

    <div class='network'>
      <%= image_tag "webicon-twitter.png" %>
    </div>

    <div class='network'>
      <%= image_tag "webicon-googleplus.png" %>
    </div>
  </div>
</div>
