<div id="main-nav">

  <div class='logo'></div>

  <div class='dashed-divider'></div>

  <ul>
    <li>
      <%= link_to 'Home', '/index.html' %>
    </li>
    <li>
      <a href="/about.html">About</a>
    </li>
    <li>
      <a href="/contact.html">Contact</a>
    </li>
  </ul>

  <div class='dashed-divider'></div>

  <div class='networks'>
    <div class='network'>
      <% link_to("https://github.com/wvmitchell", target: 'blank') do %>
        <%= image_tag "webicon-github.png" %>
      <% end %>
    </div>

    <div class='network'>
      <% link_to("https://twitter.com/wvmitchell", target: 'blank') do %>
        <%= image_tag "webicon-twitter.png" %>
      <% end %>
    </div>

    <div class='network'>
      <% link_to("https://plus.google.com/102237139295731795804/posts", target: 'blank') do %>
        <%= image_tag "webicon-googleplus.png" %>
      <% end %>
    </div>
  </div>
</div>
