<div class="article">
  <h2><span class='title-icon'></span>About Me</h2>
  <div class='article-details'>
    <span>Everything you want to know</span>
  </div>
  <div class='article-body'>
    <div class='entry-colors'>
      <div class='col1'></div>
      <div class='col2'></div>
      <div class='col3'></div>
    </div>
      <p>Will Mitchell is the name. Engineer, builder, coffee snob, and carpenter.</p>
      <p>I grew up in sunny Boulder, CO and attended CU Boulder for my undergraduate degree in Economics. During and immediately following school, I worked for my family managing the day to day operations of our family real estate business. While this has proved to be a valuable experience, I quickly realized my passion would not be discovered in the field of property management.</p>

      <p>Enter the world of code. Roughly three years ago, I began teaching myself programming and software engineering. I've been amazed by what a steady quest for knowledge can yield when pointed at the internet. Every day I get to solve a new problem, learn something new, and push myself forward.</p>

      <p>Recently, I finish gSchool, a six month long intensive Ruby and Rails course here in Denver. Out in the wide world now, I'm excited about the many possibilities that are in front of me.</p>

      <p>What all have I worked with? Many languages, many technologies. A few highlights, in order of my exposure to them:</p>

      <p>HTML, CSS, PHP, mySQL, Javascript, Java, Python, C++, jQuery, Ruby, Rails, and most recently, Go</p>

      <p>It's been a wonderful wild ride so far, and I look forward to what the future has in store. Presently, I work for a great company, <a href="www.storyvine.com" target="_blank">Storyvine</a> in Denver, CO. Thanks for stopping by!</p>
  </div>
</div>
