<div class="article">
  <h2><span class='title-icon'></span>Contact Me</h2>
  <div class='article-details'>
    <span>As if you didn't already know</span>
  </div>
  <div class='article-body'>
    <div class='entry-colors'>
      <div class='col1'></div>
      <div class='col2'></div>
      <div class='col3'></div>
    </div>
    <p>So you'd like to get in touch? Well I'd love to hear from you! I keep a variety of social networks up to date, feel free to contact me through whatever avenue is most your style</p>
  </div>
</div>
