<div id="main-nav">

  <div class='dashed-divider'></div>

  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <div class='dashed-divider'></div>

</div>
